body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
}

.products {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.card {
    background: white;
    padding: 20px;
    margin: 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px gray;
    text-align: center;
}

button {
    background: green;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

footer {
    margin-top: 50px;
    text-align: center;
    padding: 20px;
    background: #222;
    color: white;
}
