<!DOCTYPE html>
<html>
<head>
    <title>Rohith Store</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<header>
    <h1>🛒 Rohith Online Store</h1>
</header>

<div class="products">

    <div class="card">
        <h2>Mobile Phone</h2>
        <p>Price: $500</p>
        <button>Add to Cart</button>
    </div>

    <div class="card">
        <h2>Laptop</h2>
        <p>Price: $900</p>
        <button>Add to Cart</button>
    </div>

    <div class="card">
        <h2>Headphones</h2>
        <p>Price: $150</p>
        <button>Add to Cart</button>
    </div>

</div>

<footer>
    <p>© 2026 Rohith Store - CI/CD Project</p>
</footer>

</body>
</html>
